/* 
    Document   : streetsoaker.core
    Created on : 26-nov-2013, 11:45:33
    Author     : Joeri Aben
    Description:
        All the CSS changes and addons that we made on KendoUI
*/
/* COLOR CHANGES */



/* ICONS */
.km-ssEdit:after,
.km-ssEdit:before{
        content: "\e07b";
}
.km-ssLock:after,
.km-ssLock:before{
        content: "\e0ff";
}

/* GAME LIST VIEW */
.gameTitle,
.gameMode,
.gamePlayers,
.gamePlace,
.gameDate{
    display: inline-block;
}
.gameTitle{
    width: calc(50% - 1em);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -6px;
}
.gameMode{
    width: 25%;
}
.gamePlayers{
    width: calc(25% - .66rem);
}
.gamePlace{
    width: calc(12% - .33rem);
}
.gameDate{
    width: calc(12% - .33rem);
}


/* GAME SETTINGS VIEW */
.km-root .settings .km-listview label{
    width: 100%;
}

.km-root .settings .km-listview label{
    color: #999;
}
.km-root .km-pane .km-view .km-listview select,
.km-root .km-pane .km-view .km-listview input{
    position: relative;
    width: 100%;
    right: 0;
    margin-top: 0;
    top: 0;
}
.active{
    background-color: rgba(40, 40, 40, 0.1) !important;
}

.description{
    font-size: 75%;
}

.km-root .km-root .km-view .km-listview select,
.km-root .km-root .km-view .km-listview input{
    margin-top: .2em;
}

.km-root .km-root .km-view .km-listview select,
.km-root .km-root .km-view .km-listview input{
    padding: .4em 0;
}

.km-root .km-root .km-view .km-listview select option:disabled{
    color: rgba(0, 0, 0, 0.3) !important;
}

/* STYLE */
.km-root .km-view .km-navbar {
    background-color: rgb(204, 0, 0);
    background-repeat: repeat;
    background-position: 0 0;
    -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.km-root .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(201, 0, 0);
}
.km-root .km-view .km-navbar .km-button.km-state-active,
.km-button:active,
.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection, 
.km-flat .km-touch-scrollbar, 
.km-flat .km-pages .km-current-page, 
.km-flat .k-slider .k-draghandle, 
.km-flat .k-slider .k-draghandle:hover, 
.km-flat .km-tabstrip .km-state-active, 
.km-flat .km-scroller-refresh.km-load-more, 
.km-flat .km-popup .k-state-hover, 
.km-flat .km-popup .k-state-focused, 
.km-flat .km-popup .k-state-selected, 
.km-flat .km-actionsheet>li>a:active,
.km-flat .km-actionsheet>li>a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked{
    background-color: rgb(201, 0, 0);
}

